/* MAIN WEBSITE */
* {
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: black;
}

/* DISPLAYING STYLING */

a{color: rgb(8, 59, 77);}

#writing{
  padding-top: 2%;
}
.controllers{
  padding-top: 5%;
  padding-bottom: 0;
}
.points-board {
  width: 50%;
  color: aliceblue;
}

.buttons {
  background-color: black;
  font-size: 20px;
  color: aliceblue;
}

#restart {
  display: none;
}

.intro {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: springgreen;
    text-align: center;
    padding-right: 50%;
}

.signature{
  color: aliceblue;
}

/* CONTAINERS */

.big-container {
  display: flex;
  flex-direction: column;
}

.main-container {
    display: flex;
    padding-left: 10%;
    /* justify-content: center;
    align-items: center; */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 200%;
}

.grid div {
    font-size: 40px;
    color: aliceblue;
    width: 5%;
    height: 5%;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.right-container {
    font-size: 25px;
    padding-left: 100px;
    width: 300%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* GAME ICONS AND OTHER DISPLAY */

.block {
    background-color: green;
}

.ship {
    background-image: url("files/ship1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.smallenemy1 {
    background-image: url("files/smallalien1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.smallenemy2 {
    background-image: url("files/smallalien2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.middleenemy1 {
    background-image: url("files/middlealien1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.middleenemy2 {
    background-image: url("files/middlealien2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bigenemy1 {
    background-image: url("files/bigalien1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bigenemy2 {
    background-image: url("files/bigalien2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bam {
    background-image: url("files/laser.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.boom {
    background-image: url("files/enemylaser.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.explosion {
    background-image: url("files/explosion.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* PHONE MEDIA QUERIES */

@media (max-width: 380px){
  #left, #right, #shoot {
    width: 70px;
  }
.intro {
  padding-top: 0;
  padding-right: 0;
  padding-left: 5%;
}
.grid{
height: 300px;
width: 300px;
}
.grid-container{
  display:flex;
  flex-direction: column;
}
.right-container {
  display: flex;
  padding-left: 0px;
  align-items: center;
  padding-bottom: 0px;
  width: auto;
}
.grid div {
  font-size: 25px;}

.points-board{
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
  }

  #writing {
  display: none;
}
  #keyboardInst {
    display: none;
  }
  .controllers{
    padding-top: 5%;
  }
  .signature{
    text-align: center;
    padding-top: 1%;
    font-size: 15px;
    width: 100%;
  }
}