* {
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: gray;
    margin: 0;
}

.big-container {
    display: flex;
    flex-direction: column;
}

.intro {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: springgreen;
    text-align: center;
    padding-top: 100px;
    padding-right: 110px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

.grid div {
    color: rgba(0, 0, 0, 1);
    width: 5%;
    height: 5%;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.right-container {
    font-size: 25px;
    padding-left: 100px;
    width: auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.points-board {
    width: auto;
    height: 200px;
    color: aliceblue;
}

.mode-selector {
    height: 300px;
    width: auto;
    color: aliceblue;
}

.ship {
    background-image: url("files/ship1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.smallenemy1 {
    background-image: url("files/smallalien1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.smallenemy2 {
    background-image: url("files/smallalien2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.middleenemy1 {
    background-image: url("files/middlealien1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.middleenemy2 {
    background-image: url("files/middlealien2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bigenemy1 {
    background-image: url("files/bigalien1.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bigenemy2 {
    background-image: url("files/bigalien2.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bam {
    background-image: url("files/laser.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.boom {
    background-image: url("files/enemylaser.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.explosion {
    background-image: url("files/explosion.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}